@using emlak.ViewModels
@model PropertiesModel

@{
    ViewData["title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutPerson.cshtml";
}

@section CardHeader {
    <span>Ilan Sil</span>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form method="post">
    <h5>@Model.pro_id isimli ilan silinecektir. Onaylıyor musunuz?</h5>
    <input asp-for="pro_id" type="hidden" />

    <div class="mb-3">
        <input type="submit" value="Ilan Sil" class="btn btn-sm btn-danger" />
        <a asp-action="Index" class="btn btn-sm btn-secondary">Vazgeç</a>
    </div>
</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#confirmDelete").click(function () {
                var propertyId = @Model.pro_id;

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteConfirmed", "PropertiesPerson")",
                    data: { id: propertyId },
                    success: function (response) {
                        if (response.success) {
                            window.location.href = '@Url.Action("Index", "PropertiesPerson")';
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function (error) {
                        alert('Error deleting property.');
                    }
                });
            });
        });
    </script>
}